<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport'/>
<link href="{{ asset('styles/base.css') }}" rel="stylesheet">
<script src="https://kit.fontawesome.com/f956c32298.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/>
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.2.1/dist/full.css" rel="stylesheet" type="text/css"/>
<script src="https://cdn.tailwindcss.com"></script>
<title>
	{% block title %}{% endblock %}
</title>

{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}
