<div class="mt-4">
<h1 class="text-center justify-content-center font-bold  m-10">Liste des Technos</h1>
<p class="text-center justify-content-center font-bold  m-10">Ici vous pouvez choisir la formation que vous souhaitez passer !	</p>
			{% for techno in technos %}

			<div class="ag-format-container justify-content-center">
  <div class="ag-courses_box">
    <div class="ag-courses_item">
      <a href="{{ path('tests_by_techno', {'id': techno.id}) }}" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
		 {{ techno.nom }} 
        </div>

        <div class="ag-courses-item_date-box">

          <span class="ag-courses-item_date">
          </span>
        </div>
      </a>
    </div>

  </div>
</div>
			{% endfor %}
</div>



