<div class="mt-4 mb-8">
		<ul class="flex flex-col px-4">
			{% for techno in technos %}
				<li class="flex flex-col">
					<div class="flex flex-row justify-between w-full">
						<div>
                            <h2 class="font-bold">{{ techno.nom }}</h2>
						<div>
							<a href="{{ path('tests_by_techno', {'id': techno.id}) }}">Passer les tests / formation</a>
						</div>
					</div>

                    <div class="flex flex-row justify-between w-full">
                        <p>
                            {{ techno.description}}
                        </p>
                    </div>

				</li>

			{% endfor %}
		</ul>
</div>