{% extends '/base.html.twig' %}

{% block title %}Edit Techno{% endblock %}

{% block body %}
<div class="flex items-center justify-center h-screen w-1/2 mx-auto  min-h-full flex-col justify-center px-6 py-12 lg:px-8 bg-white" >
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h1 style="font-weight: bold; font-size: 1.3em;">Modification {{ techno.nom }}</h1>

    {{ include('admin/techno/_form.html.twig', {'button_label': 'Update'}) }}
    <button style="background-color: #5B98D2;padding: 10px;border-radius: 10px" class="mb-5">
        <a href="{{ path('app_techno_index') }}">back to list</a>
    </button>

     {{ include('admin/techno/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
