{% extends 'base.html.twig' %}

{% block title %}Edit TestResults{% endblock %}

{% block body %}
    <h1>Edit TestResults</h1>

    {{ include('admin/test_results/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_test_results_index') }}">back to list</a>

    {{ include('admin/test_results/_delete_form.html.twig') }}
{% endblock %}
