{% extends 'base.html.twig' %}

{% block title %}New TestResults{% endblock %}

{% block body %}
    <h1>Create new TestResults</h1>

    {{ include('admin/test_results/_form.html.twig') }}

    <a href="{{ path('app_admin_test_results_index') }}">back to list</a>
{% endblock %}
