{% extends 'admin/admin.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
 <div class="h-1/2 w-full">
   <p class="text-lg text-center bg-green-400">HOME ADMIN HERE</p>
 </div>
{% endblock %}
