{% extends 'base.html.twig' %}

{% block title %}Planning{% endblock %}

{% block body %}
<div class="mb-20 ">
			{% include('navbar/navbar.html.twig') %}
</div>
<div class="h-1/2 w-full flex justify-center items-center ">
  <iframe src="https://calendar.google.com/calendar/embed?src=2e4ef2ee816ba1d83cbe68c9e84fce62f83ba459bf39a4249df3d97c19f25fee%40group.calendar.google.com&ctz=Europe%2FParis" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>
{% endblock %}
