<!-- begin footer -->
<footer class="footer bg-white border-t-2 shadow w-full bottom-0">
    <div class="mx-auto flex py-4 px-10 w-full">
        <div class="w-full mx-auto flex flex-wrap justify-between">
            <div class="flex w-full md:w-1/2 ">
                <div class=" flex flex-col content-center justify-center">
                    <p>&copy; Copyright 2022. Tout droits reservés.</p>
                </div>
            </div>
            <div class="flex w-full md:w-1/4 justify-end">
                <div class="px-8">
                    <h3 class="font-bold font-bold text-gray-900">Social</h3>
                    <ul class="flex flex-row list-reset items-center text-sm pt-1">
                        <li>
                            <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:underline py-1" href="#">
                                <i class="fab fa-facebook mr-3"></i>
                            </a>
                        </li>
                        <li>
                            <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:underline py-1" href="#">
                                <i class="fab fa-twitter fa-fw mr-3"></i>
                            </a>
                        </li>
                        <li>
                            <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:underline py-1" href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
<!-- end app -->


<script>
    /*Toggle dropdown list*/
    /*https://gist.github.com/slavapas/593e8e50cf4cc16ac972afcbad4f70c8*/

    var userMenuDiv = document.getElementById("userMenu");
    var userMenu = document.getElementById("userButton");

    var navMenuDiv = document.getElementById("nav-content");
    var navMenu = document.getElementById("nav-toggle");

    document.onclick = check;

    function check(e) {
        var target = (e && e.target) || (event && event.srcElement);

        //User Menu
        if (!checkParent(target, userMenuDiv)) {
            // click NOT on the menu
            if (checkParent(target, userMenu)) {
                // click on the link
                if (userMenuDiv.classList.contains("invisible")) {
                    userMenuDiv.classList.remove("invisible");
                } else { userMenuDiv.classList.add("invisible"); }
            } else {
                // click both outside link and outside menu, hide menu
                userMenuDiv.classList.add("invisible");
            }
        }

        //Nav Menu
        if (!checkParent(target, navMenuDiv)) {
            // click NOT on the menu
            if (checkParent(target, navMenu)) {
                // click on the link
                if (navMenuDiv.classList.contains("hidden")) {
                    navMenuDiv.classList.remove("hidden");
                } else { navMenuDiv.classList.add("hidden"); }
            } else {
                // click both outside link and outside menu, hide menu
                navMenuDiv.classList.add("hidden");
            }
        }

    }

    function checkParent(t, elm) {
        while (t.parentNode) {
            if (t == elm) { return true; }
            t = t.parentNode;
        }
        return false;
    }
</script>